.container {
    display: flex;
    justify-content: center;
    align-items: center
}

.submenu {
    background-color: transparent;
    padding: 8px;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    transition: all .5s ease
}

.submenu li {
    margin-right: 15px;
    transition: transform .3s ease, opacity .3s ease
}

.submenu a {
    color: #f7f6ed;
    font-family: var(--fuente-cuerpo);
    text-decoration: none;
    font-size: var(--size-text);
    margin: 15px
}

.submenu li:hover {
    transform: scale(1.1);
    opacity: .8
}

.submenu a:hover {
    color: var(--vibrant)
}

@media (max-width:768px) {
    .submenu {
        text-align: center
    }

    .submenu a {
        font-size: .85rem;
        margin: 0 auto;
        gap: 5px;
        font-weight: 700
    }
}