@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital@0;1&family=Press+Start+2P&display=swap');
@import url('../../../styles.css');

/* Container Fluid */
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Submenu */
.submenu {
    background-color: transparent;
    padding: 8px;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    transition: all 0.5s ease;
}

/* Submenu Items */
.submenu li {
    margin-right: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.submenu a {
    color: #f7f6ed;
    font-family: var(--fuente-cuerpo);
    text-decoration: none;
    font-size: var(--size-text);
    margin: 15px;
}

.submenu li:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.submenu a:hover {
    color: var(--accent);
}

/* Unified Media Query */
@media (min-width: 300px) and (max-width: 1199px) {
    .submenu {
        text-align: center;
    }

    .submenu a {
        font-size: 0.695rem;
        margin: 0 auto;
        gap: 5px;
        font-weight: bold;
    }
}