<div class="container">
    <div class="card-body">
        <div *ngIf="tarifa" class="row justify-content-center">
            <!-- Columna para la información del plan -->
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="row align-items-center"> <!-- Usar Flexbox para alinear elementos -->
                    <!-- Información de la tarifa -->
                    <div class="col-4"> <!-- Ajustar el espacio de cada columna -->
                        <h2>{{ tarifa.name }}</h2> <!-- Título principal -->
                        <p class="tarifa_title">Tarifa</p> <!-- Tarifa -->
                        <p class="gb">{{ tarifa.gb }}</p> <!-- Información adicional -->
                        <p class="minutes">{{tarifa.minutes}}</p>
                    </div>

                    <!-- Sección de precio -->
                    <div class="col-4">
                        <div class="tarifa_precio">
                            <p>{{ tarifa.price }} <strong>€</strong> <small class="iva">IVA incl.</small></p>
                        </div>

                        <div class="iconos">
                            <img src="../../../../../assets/images/4g+movil.svg" alt="Icono de 5G" width="34"
                                height="34">

                        </div>
                        <div>
                            <button class="cta" aria-label="Me interesa esta tarifa">Me interesa</button>
                        </div>

                        <!-- Botón para más información -->
                        <div>
                            <a href="/checkout" class="btn btn-primary-green mt-3" aria-label="Más información">Más
                                Información</a>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Columna para detalles adicionales o beneficios -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="row lista_checks">
                    <p class="mb-3" style="color: var(--background); font-size: 1.125rem;">Beneficios de la Tarifa:</p>
                    <ul>
                        <li>Sin permanencia.</li>
                        <li>Incluye llamadas ilimitadas a fijos y móviles nacionales.</li>
                        <li>Cobertura en todo el territorio nacional.</li>
                        <li>Envío de la SIM gratuito.</li>
                        <li>Roaming 4G+ a máxima velocidad.</li>
                        <li>Sin límites de destinos.</li>
                        <li>Gestión desde App.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container">
    <div class="grid">
        <div class="content">
            <div class="titulo">
                <h2>¿Por qué elegir una tarifa Épica Network para tu móvil?</h2>
            </div>
            <div class="content-center">
                <div class="subtitulo">
                    <span>Disfruta de la mejor Red a Velocidad 4G+ y Sin Permanencia</span>
                </div>

            </div>
            <div class="content-body">
                <div>
                    <span>En Épica Network te ofrecemos la mejor calidad de red de Internet Móvil de España con
                        cobertura 4G+ y
                        una
                        velocidad de
                        descarga de hasta 300Mbps. Esto te permite conectarte a Internet y comunicarte estés donde
                        estés,
                        todo
                        ello
                        con los
                        precios más competitivos del mercado. Nuestra tarifa móvil más potente incluye 150GB de datos y
                        Llamadas
                        Ilimitadas por
                        tan solo 19,90€/mes, sin permanencia. Esta tarifa se convierte en la opción más económica dentro
                        de
                        su
                        segmento, ideal
                        para quienes buscan alta capacidad de datos a un precio accesible.<br><br></span><span>Además de
                        nuestras
                        tarifas competitivas, nos enorgullecemos de ofrecer un excelente servicio de atención al
                        cliente,
                        siempre dispuesto a resolver tus dudas y ayudarte en lo que necesites. Con Épica Network, tienes
                        la
                        garantía
                        y confianza
                        de estar respaldado por un servicio de calidad.<br><br></span><span>Te garantizamos las mejores
                        tarifas móviles junto con un
                        excelente servicio de atención al cliente y la confianza que
                        brinda Épica Network. Para contratar nuestros planes de tarifas móviles, puedes hacerlo a través
                        de <a class="contacto" href="{{whatsappLink}}">WhatsApp.</a></span>
                </div>
            </div>
        </div>
        <div class="foto">
            <figure>
                <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fimagenes%2FIMG_7185-2.png?alt=media&token=d0803ee8-6324-4ceb-9edc-aad3c151d6bb"
                    alt="telefono móvil">
            </figure>
        </div>
    </div>
</section>