@import url('../../../../../styles.css');

/* Importa el CSS adicional */
/* Estilos para la tarjeta */
.card-body {
    background-color: var(--background);
    border-radius: 8px;
    padding: 20px;
    /* Espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para profundidad */
    font-size: 1rem;
    /* Tamaño del texto */
    width: 50%;
    /* Ancho más amplio para acomodar columnas */
    margin: 20px auto;
    /* Centra la tarjeta */
    margin-top: var(--margin-top);
}

/* Estilo para la fila con separación de columnas */
.row {
    display: flex;
    /* Usar Flexbox para la fila */
    justify-content: space-between;
    /* Separar las columnas */
    align-items: center;
    /* Alinear verticalmente */
    flex-wrap: nowrap;
    /* No permitir que las columnas se ajusten automáticamente */
}

/* Estilo para la columna */
.col-4 {
    flex: 0 0 33.33%;
    /* Ancho para columnas col-4 */
    max-width: 33.33%;
    /* Máximo ancho para las columnas */
}

/* Estilo para el título */
.card-body h2 {
    font-family: var(--fuente-titulo);
    color: var(--primary);
    font-size: 2.9rem;
    margin: 0;

}

/* Estilo para el cuerpo del texto */
.card-body p {
    color: var(--text);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;

}

/* Estilo para el precio y elementos asociados */
.tarifa_precio {
    white-space: nowrap;
    font-size: 1.2rem;
}

.tarifa_precio p {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;

}

strong {
    font-size: 1.5rem;

}

.tarifa_precio small {
    display: inline-block;
    font-size: 0.8rem;
    margin: 0;
}


.iconos {
    display: inline-flex;
    gap: 10px;

}

.cta {
    background-color: var(--accent);
    color: var(--background);
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: var(--vibrant);

}


.lista_checks {
    font-family: var(--fuente-cuerpo);
    font-size: var(--size-text);
    color: var(--text);
    padding: 10px;
    border-radius: 8px;
    background-color: var(--secondary);
}

.lista_checks ul {
    list-style-type: disc;
    padding-left: 20px;

}

.lista_checks li {
    margin-bottom: 10px;
    color: var(--background);

}

/* Configuración para el diseño responsivo */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;

}

/* Estilo para la columna para mantener el diseño compacto */
.col-md-6,
.col-lg-4,
.col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;

}

/* Estilo para la lista responsiva */
@media (max-width: 768px) {
    .card-body {
        width: 100%;

    }

    .card-body .cta {
        font-size: 1rem;

    }
}