<div class="container">
    <div class="cards">
        <div class="card" *ngFor="let tarifa of tarifas">
            <div>
                <div class="card-header">
                    <h4>{{ tarifa.name }}</h4>
                </div>
                <div class="col-12 card-body">
                    <div class="col-6">
                        <div class="data">

                            <p>{{ tarifa.speed }}</p>

                            <p>{{ tarifa.gb }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="price">
                            <h1 class="my-0">
                                {{ tarifa.price }} <strong>€</strong>
                                <small class="text-muted">/mes</small>
                            </h1>
                        </div>
                    </div>
                    <div>
                        <p>{{ tarifa.minutes }}</p>
                    </div>
                    <div>
                        <p>{{ tarifa.channels }}</p>
                        <p>{{ tarifa.extras }}</p>
                    </div>
                    <div class="button">
                        <a class="interes" href="{{ whatsappLink }}">Me interesa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>