@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital@0;1&family=Press+Start+2P&display=swap');
@import url('../../../styles.css');

/* Tarjetas */
.tarjetas {
    margin-top: 40px;
    padding: 10px;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

/* Product Card */
.product-card {
    flex: 1 1 300px;
    max-width: 300px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: var(--card-transition);
    padding: 5px;
}

.product-card:hover {
    box-shadow: var(--card-hover-box-shadow);
}

/* Product Card Info */
.product-card__info {
    padding: 5px;
}


.product-card__info .text {
    color: #666;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: .5rem;
    font-family: var(--fuente-cuerpo);
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
}

/* Product Card Type */
.product-card__type {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-card__type .product-info {
    min-height: 2rem;
    align-items: baseline;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.product-card__type .product-info .icon {
    height: 1.5rem;
    width: 1.5rem;
}

.product-card__type .product-info .mobil {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: -0.7rem;
    margin-left: 0.4rem;
}

.product-card__type .text-subheading-01 {
    font-family: var(--fuente-cuerpo);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
}

.product-card__type .text-p-01-regular {
    font-family: var(--fuente-titulo);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.125rem;
}

/* Product Card Action */
.product-card__action {
    align-items: center;
    background: var(--background);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 10px;
}

/* Tarifa Price */
.tarifa-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;
    color: var(--text-color);
}


.tarifa-price>p {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.tarifa-price__regularity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tarifa-price__regularity .iva,
.tarifa-price__regularity .mes {
    font-size: 1rem;
    font-weight: 700;
}

.tarifa-price__regularity .tariff-message {
    font-size: .8rem;
    font-weight: 400;
    margin-top: 5px;
    color: gray;
}

/* Checklist */
.checklist {
    list-style: none;
    padding: 10px;
    margin: 0 auto;
}

.checklist li {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    line-height: 1.2;
    padding: 0;
}

.fas.fa-check-circle {
    font-size: .9rem;
    margin-right: 10px;
    color: var(--primary);
}

/* Enlace de Interés */
a.interes {
    background-color: var(--accent);
    color: #fff;
    padding: .625rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: .875rem;
    cursor: pointer;
    border-radius: .625rem;
    transition: background-color .3s ease;
    width: 90%;
}

a.interes:hover {
    background-color: var(--highlight);
    box-shadow: var(--button-hover-box-shadow);
}

/* Media Query */
@media (max-width: 768px) {
    .product-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}