<!-- tarifas.component.html -->
<div class="tarjetas">
    <div class="cards">
        <div class="product-card" *ngFor="let tarifa of tarifas; trackBy: trackByTarifas"
            [ngClass]="{'mobile-tarifa': tarifa.type === 'Móvil'}">
            <div class="product-card__info">
                <h2 class="text">{{ tarifa.type }}</h2>
                <div class="product-card__type">
                    <p class="text-p-01-regular mb-4">{{ tarifa.name }}</p>
                    <div class="product-info mb-3">
                        <img class="icon" src="../../../assets/images/imagenes webp/iconos/icons8-wifi-48.webp"
                            alt="Fibra" loading="lazy" [hidden]="tarifa.type === 'TV' || tarifa.type === 'Móvil'">
                        <span class="text-subheading-01">{{ tarifa.speed }}</span>
                        <img class="mobil" *ngIf="!tarifa.lines && tarifa.gb"
                            src="../../../assets/images/imagenes webp/iconos/icons8-advance-fourth-generation-cellular-connectivity-network-facility-96.webp"
                            alt="Fibra" loading="lazy"
                            [hidden]="tarifa.type === 'TV' || tarifa.type === 'Fibra' || tarifa.type === 'Móvil'">
                        <img class="mobil" *ngIf="tarifa.gb"
                            src="../../../assets/images/imagenes webp/iconos/icon-movil-4g.webp" alt="Móvil"
                            loading="lazy"
                            [hidden]="tarifa.type === 'TV' || tarifa.type === 'Fibra' || tarifa.type === 'Fibra y Móvil'">
                        <span class="text-subheading-01" *ngIf="!tarifa.lines && tarifa.gb">{{ tarifa.gb }}</span>
                        <span class="text-subheading-01" *ngIf="tarifa.lines && tarifa.gb">{{ tarifa.lines }} x
                            Móvil {{
                            tarifa.gb }}</span>
                    </div>
                    <span [hidden]="tarifa.type === 'Fibra' || tarifa.type === 'TV'" class="text-subheading-01 mb-4">
                        {{ tarifa.minutes }} <i class="fa-solid fa-phone"></i>
                    </span>
                </div>
                <div class="product-card__action">
                    <div class="tarifa-price mb-4">
                        <p>{{ tarifa.price }}</p>
                        <div class="tarifa-price__regularity">
                            <span class="mes">€/mes</span>
                            <span class="iva">IVA incl.</span>
                            <small class="tariff-message">Precio final</small>
                        </div>
                    </div>
                    <ul class="checklist">
                        <li *ngFor="let item of checklist[tarifa.type]; trackBy: trackByChecklistItems">
                            <i class="fas fa-check-circle"></i>
                            {{ item }}
                        </li>
                    </ul>
                    <div class="container">
                        <a class="interes" href="{{ whatsappLink }}">Me interesa</a>
                    </div>
                </div>
                <a [routerLink]="getDetailLink(tarifa)" style="text-decoration: none; color: var(--secondary);"
                    class="product-card__link">Mas detalles</a>
            </div>
        </div>
    </div>
</div>