<div class="container">
    <h1 class="mb-3 text-white text-center">Tarifas de Fibra Epica</h1>
    <div class="row justify-content-md-center">
        <div class="pricing-card col-12 col-md-6 col-xl-3 mb-4 text-center" *ngFor="let fibra of fibraData">
            <h3>{{ fibra.name }}</h3>
            <ul>
                <li>{{ fibra.data }}</li>
                <p>{{ fibra.price }}<span>€</span></p>
                <small class="iva">Precio Final</small>
                <li>{{fibra.description}}</li>
            </ul>
            <a [href]="whatsappLink">Me interesa</a>
        </div>
    </div>

</div>