<section class="container">
    <h1 class="mb-3 text-center">Tarifas de Fibra Epica</h1>
    <div class="row justify-content-md-center">
        <div class="pricing-card col-12 col-md-6 col-xl-3 mb-4 text-center" *ngFor="let fibra of fibraData">
            <div class="fibra-image">
                <img class="image"
                    src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fplanes%2FArtboard%2028.png?alt=media&token=261b2424-76c3-40ea-bb16-617bc5da1230"
                    alt="fibra">
            </div>
            <h3 class="neon-effect">{{ fibra.data }}</h3>
            <div id="name" class="container">
                <p>PLAN <strong> {{fibra.name}}</strong></p>
            </div>
            <ul>
                <li><i class="fas fa-check"></i><strong> Precio Final.</strong> Sin sorpresas en tu factura.</li>
                <li><i class="fas fa-check"></i><strong> Sin permanencia</strong> ni penalizaciones.</li>
                <li><i class="fas fa-check"></i><strong> Llamadas ilimitadas</strong> desde el fijo.</li>
                <li><i class="fas fa-check"></i><strong> Instalación gratis</strong> y router HGU incluido.</li>
                <li><i class="fas fa-check"></i> Red de fibra de <strong>Épica</strong></li>
            </ul>
            <p class="price">{{ fibra.price }} <span>€/mes</span></p>

            <div class="button-container">
                <i class="fas fa-long-arrow-alt-right neon-effect"></i>
                <a class="info" href="#">Mas detalles</a>
                <a class="interes" [href]="whatsappLink">Me interesa</a>
            </div>
        </div>
    </div>

</section>