<section class="container">
    <div class="card-body">
        <div *ngIf="tarifa" class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-4">
                        <h2>{{ tarifa.name }}</h2>
                        <p class="tarifa_title">Tarifa</p>
                        <p *ngIf="tarifa.speed">Fibra {{ tarifa.speed }}</p>
                        <p *ngIf="!tarifa.lines && tarifa.gb">Móvil {{ tarifa.gb }}</p>
                        <p *ngIf="tarifa.lines && tarifa.gb">{{ tarifa.lines }} x Móvil {{ tarifa.gb }}</p>
                        <p>Llamadas {{tarifa.minutes}}</p>
                    </div>
                    <div class="col-12 col-lg-4">
                        <section class="tarifa_price">
                            <p>{{ tarifa.price }}</p>
                            <div class="tarifa-price__regularity">
                                <span class="mes">€/mes</span>
                                <span class="iva">IVA incl.</span>
                                <small class="tariff-message">Precio final</small>
                            </div>
                            <div class="iconos mt-3">
                                <img src="https://cdn-icons-png.flaticon.com/512/1183/1183601.png"
                                    alt="Icono de velocidad">
                                <img src="../../../../../assets/images/imagenes webp/iconos/icons8-advance-fourth-generation-cellular-connectivity-network-facility-96.webp"
                                    alt="Icono de 4G">
                                <img src="https://img.icons8.com/ios-filled/50/000000/phone.png" alt="Teléfono">
                            </div>
                        </section>
                        <div>
                            <a href="{{whatsappLink}}" class="cta btn btn-secondary"
                                aria-label="Me interesa esta tarifa">Me
                                interesa</a>
                        </div>
                        <div>
                            <a href="{{whatsappLink}}" class="btn mt-3" style="background-color: var(--primary);"
                                aria-label="Más información">Más
                                Información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="row lista_checks justify-content-center">
                    <p class="mb-2">Beneficios de la Tarifa:</p>
                    <ul class="lista_checks">
                        <li>Sin cuota de línea fija.</li>
                        <li>Velocidad simétrica según disponibilidad geográfica.</li>
                        <li>Llamadas ilimitadas.</li>
                        <li>Instalación y Router gratis.</li>
                        <li>Descuento del 100% en los gastos de instalación.</li>
                        <li>Envío SIM gratuito.</li>
                        <li>¡Solo 3 meses de Permanencia!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="grid">
        <div class="content">
            <div class="titulo">
                <h2>¿Por qué elegir una tarifa Fibra y Móvil Épica Network?</h2>
            </div>
            <div class="content-center">
                <div class="subtitulo">
                    <span>Una vez que actives tus servicios, descubrirás un nuevo mundo de posibilidades</span>
                </div>

            </div>
            <div class="content-body">
                <div>
                    <span>En Épica Network te ofrecemos algunas de las tarifas más competitivas del mercado español, con
                        planes de internet y
                        fibra que alcanzan velocidades de descarga de hasta 600Mbps. Además, nuestras tarifas móviles
                        cuentan con la mejor
                        cobertura 4G+.<br><br></span><span>De esta forma, podrás aprovechar nuestros planes convergentes
                        de fibra y móvil, eligiendo la combinación que mejor se
                        adapte a tus necesidades. Con precios imbatibles y prestaciones excepcionales, te ofrecemos
                        líneas adicionales, sin
                        permanencia.<br><br></span><span>Te garantizamos las mejores tarifas móviles junto con un
                        excelente servicio de atención al cliente y la confianza que
                        brinda Épica Network. Para contratar nuestros planes de tarifas móviles, puedes hacerlo a través
                        de <a class="contacto" href="{{whatsappLink}}">WhatsApp.</a></span>
                </div>
            </div>
        </div>
        <div class="foto">
            <figure>
                <img src="../../../../../assets/images/imagenes webp/fotos/IMG_7351-Edit.webp">
            </figure>
        </div>
    </div>
</section>