/* Estilo para el footer */
footer {
    background-color: transparent;
    color: var(--color-texto);
    padding: 20px;

}

.primary-footer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.primary-footer span {
    font-size: 1.5em;
    color: var(--color-contraste);
    font-family: 'Anton', sans-serif;
    display: block;
    margin-bottom: 10px;
}

.primary-footer>div {
    flex: 1 1 25%;
    padding: 20px;
}

.primary-footer .footer-logo {
    height: 80px;
    width: 100px;
}

.primary-footer ul {
    list-style: none;
    padding: 0;

}

.primary-footer ul li {
    margin-bottom: 10px;
}

.primary-footer a {
    color: var(--color-texto);
    text-decoration: none;
    transition: color 0.3s ease;
}

.primary-footer a:hover {
    color: var(--color-principal);
}

/* Estilo para el bloque de redes sociales */
.social-list {
    list-style-type: none;
    padding: 0;
}

.social {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social a {
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
}

.social a i {
    margin-right: 5px;
    font-size: 24px;
    transition: color 0.3s;
}

/* Colores distintivos para cada icono de redes sociales */
.social .fab.fa-youtube {
    color: red;
    /* YouTube */
}

.social .fab.fa-facebook-f {
    color: #1877F2;
    /* Facebook */
}

.social .fab.fa-instagram {
    color: #C13584;
    /* Instagram */
}

.social .fa-brands.fa-threads {
    color: black;
    /* Threads */
}

.social .fab.fa-tiktok {
    color: black;
    /* TikTok */
}

.social .fa-brands.fa-x-twitter {
    color: #1DA1F2;
    /* X (anteriormente Twitter) */
}

.social .fab.fa-linkedin {
    color: #0A66C2;
    /* LinkedIn */
}

/* Efecto de animación y cambio de color al hacer hover */
.social a:hover {
    transform: translateY(-5px);
    /* Efecto de animación al pasar el ratón */
}

.social a:hover i {
    color: #FF4500;
    /* Cambia el color del ícono al pasar el ratón por encima */
}

/* Centrar las redes sociales */
.social-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-list .social a {
    padding: 5px 10px;
}

.secondary-footer {
    background-color: transparent;
    text-align: center;
}

.secondary-footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

}

.secondary-footer ul li {
    margin: 0 10px;
}

.secondary-footer .footer-logo {
    height: 100px;
    width: auto;
}

.secondary-footer a {
    font-weight: bold;
    color: var(--color-destacado);
    text-decoration: underline;
    transition: color 0.3s ease;
}

.secondary-footer a:hover {
    color: var(--color-principal);
    text-decoration: none;

}


@media (max-width: 768px) {
    .primary-footer {
        flex-direction: column;
        text-align: center;
    }

    .primary-footer>div {
        flex: 1 1 100%;
    }

    .social-list {
        align-items: center;
        /* Centra los íconos en dispositivos más pequeños */
    }

    .social a {
        font-size: 20px;
        /* Ajusta el tamaño del texto para dispositivos más pequeños */
    }

    .social a i {
        font-size: 22px;
        /* Ajusta el tamaño del ícono para dispositivos más pequeños */
    }
}