/* Estilo para el footer */
footer {
    background-color: transparent;
    color: var(--color-texto);
    padding: 20px;

}

.primary-footer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.primary-footer span {
    font-size: 1.5em;
    color: var(--color-contraste);
    font-family: 'Anton', sans-serif;
    display: block;
    margin-bottom: 10px;
}

.primary-footer>div {
    flex: 1 1 25%;
    padding: 20px;
}

.primary-footer .footer-logo {
    height: 80px;
    width: auto;
}

.primary-footer ul {
    list-style: none;
    padding: 0;

}

.primary-footer ul li {
    margin-bottom: 10px;
}

.primary-footer a {
    color: var(--color-texto);
    text-decoration: none;
    transition: color 0.3s ease;
}

.primary-footer a:hover {
    color: var(--color-principal);
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    color: var(--color-texto);
    transition: color 0.3s ease;
}

.social a i {
    font-size: 24px;
    transition: color 0.3s ease;
}

.social a:hover i {
    color: var(--color-principal);
}

.social a:hover .fab.fa-youtube {
    color: #ff0000;
}

.social a:hover .fab.fa-facebook-f {
    color: #1877f2;
}

.social a:hover .fab.fa-instagram {
    color: #e1306c;
}

.social a:hover .fab.fa-tiktok {
    color: #000000;
}

.social a:hover .fab.fa-twitter {
    color: #1da1f2;
}

.social a:hover .fab.fa-linkedin {
    color: #0a66c2;
}

.secondary-footer {
    background-color: transparent;
    text-align: center;
}

.secondary-footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

}

.secondary-footer ul li {
    margin: 0 10px;
}

.secondary-footer .footer-logo {
    height: 100px;
    width: auto;
}

.secondary-footer a {
    font-weight: bold;
    color: var(--color-destacado);
    text-decoration: underline;
    transition: color 0.3s ease;
}

.secondary-footer a:hover {
    color: var(--color-principal);
    text-decoration: none;

}


@media (max-width: 768px) {
    .primary-footer {
        flex-direction: column;
        text-align: center;
    }

    .primary-footer>div {
        flex: 1 1 100%;
    }
}