@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital@0;1&family=Press+Start+2P&display=swap');
@import url('../../../styles.css');

footer {
    background-color: var(--text);
    color: var(--background);
    text-align: center;
}

.img-fluid {
    width: 150px;
    transform: translateX(-30px);
}

.primary-footer {
    transform: translateX(85px);

}

.primary-footer h5 {
    font-size: 18px;
    font-family: var(--fuente-titulo);
    margin-bottom: 15px;
    text-align: left;
}

.primary-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.primary-footer ul li {
    margin-bottom: 10px;
}

.primary-footer a {
    color: var(--background);
    text-decoration: none;
    transition: color 0.3s ease;
}

.primary-footer a:hover {
    color: var(--accent);
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social a {
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 3px 8px;
}

.social a:hover {
    transform: translateY(-3px);
}

.social a i {
    margin-right: 5px;
    font-size: 18px;
    transition: color 0.3s;
}

.social .fab.fa-youtube,
.social .fab.fa-facebook-f,
.social .fab.fa-instagram,
.social .fa-brands.fa-threads,
.social .fab.fa-tiktok,
.social .fa-brands.fa-x-twitter,
.social .fab.fa-linkedin {
    color: var(--background);
}

.secondary-footer {
    text-align: center;
    padding: 15px 0;
    transform: translateX(-60px);
}

.secondary-footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.secondary-footer ul li {
    margin: 0 5px;
    font-size: 12px;
}

.secondary-footer a {
    font-weight: bold;
    color: var(--accent);
    text-decoration: underline;
    transition: color 0.3s ease;
}

.secondary-footer .list-inline-item {
    margin: 5px 0;
}

.secondary-footer .list-inline-item:not(:last-child)::after {
    content: "•";
    margin: 0 10px;
    color: #ecf0f1;
}

@media (max-width: 768px) {
    .primary-footer {
        transform: translateX(0);
    }

    .img-fluid {
        width: 140px;
        transform: translateX(135px);
    }

    .primary-footer h5,
    .primary-footer ul {
        text-align: center;
    }

    .list-unstyled {
        align-items: center;
    }

    .img-fluid {
        width: 140px;
        transform: translateX(0);
    }

    .social-list {
        align-items: center;
    }

    .secondary-footer {
        transform: translateX(0);
    }
}

@media (max-width: 480px) {
    .primary-footer {
        transform: translateX(0);
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .link-column {
        margin: 10px 0;
        text-align: center;
    }

    .list-unstyled {
        align-items: center;
    }

    .img-fluid {
        width: 140px;
        transform: translateX(0);
    }

    .social-list {
        align-items: center;
    }

    .secondary-footer {
        transform: translateX(0);
    }
}