<footer>
    <div class="container">
        <div class="row primary-footer">
            <!-- Logotipo -->
            <div class="col-md-3">
                <h5>Compañía</h5>

                <ul>
                    <li><a href="/sobre-epica">Sobre Epica</a></li>
                    <!--   <li><a href="/blog">Blog</a></li> -->
                    <!-- <li><a href="/servicios">Servicios</a></li> -->
                    <!--  <li><a href="/aviso-legal">Aviso Legal</a></li>
                    <li><a href="/privacidad">Privacidad y Cookies</a></li> -->
                </ul>
                <a class="logo" href="http://epicanetwork.es/">
                    <figure>
                        <img style="vertical-align: middle;"
                            src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Flogos%2FLOGOentrega-15.png?alt=media&token=c23ad302-a885-443d-9bdb-51a3e7c74e7a"
                            alt="Marca de Epica Networks">
                    </figure>
                </a>
            </div>
            <!-- Tarifas -->
            <div class="col-md-3">
                <h5>Tarifas</h5>
                <ul>
                    <li><a href="/tarifas/fibra-y-movil">Fibra y Móvil</a></li>
                    <li><a href="/tarifas/fibra">Fibra</a></li>
                    <li><a href="/tarifas/movil">Móvil</a></li>
                    <li><a href="/tarifas/tv">TV</a></li>
                </ul>
            </div>

            <!-- Contacto y Ayuda -->
            <div class="col-md-3">
                <h5>Contacto y Ayuda</h5>
                <ul>
                    <li><a href="/contacto">Contacto</a></li>
                    <!-- <li><a href="/ayuda/portabilidad">Portabilidad móvil</a></li> -->
                </ul>
            </div>

            <!-- Aplicaciones y Redes Sociales -->
            <div class="col-md-3">
                <h5>Apps y Redes Sociales</h5>
                <ul class="social-list">
                    <li class="social">
                        <a href="https://www.youtube.com/@epicanetwork_es" target="_blank">
                            <i class="fab fa-youtube"></i> YouTube
                        </a>
                    </li>
                    <li class="social">
                        <a href="https://www.facebook.com/epicanetwork" target="_blank">
                            <i class="fab fa-facebook-f"></i> Facebook
                        </a>
                    </li>
                    <li class="social">
                        <a href="https://www.instagram.com/epicanetwork" target="_blank">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                    </li>
                    <li class="social">
                        <a href="https://www.threads.net/@epicanetwork" target="_blank">
                            <i class="fa-brands fa-threads"></i> Threads
                        </a>
                    </li>
                    <li class="social">
                        <a href="https://www.tiktok.com/@epicanetwork" target="_blank">
                            <i class="fab fa-tiktok"></i> TikTok
                        </a>
                    </li>
                    <li class="social">
                        <a href="https://twitter.com/epicanetwork_es" target="_blank">
                            <i class="fa-brands fa-x-twitter"></i> X.com
                        </a>
                    </li>
                    <li class="social">
                        <a href="https://www.linkedin.com/company/epicanetwork" target="_blank">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid secondary-footer">
        <div class="row">
            <ul class="container">
                <li style="margin-top: 20px;">Épica Network © 2024. Épica es una división de The Weirdest Company.
                    Visítenos en <a href="http://epicanetwork.es/">epicanetwork.es</a>
                </li>
            </ul>
        </div>
    </div>

</footer>