/* Importar estilos globales */
@import url('../../../../styles.css');

.container {
    padding: 20px;
    /* Espacio interno */
}



@media (max-width: 768px) {
    .product-card {
        flex: 1 1 100%;

        max-width: 100%;

    }
}