@import url('../../../styles.css');

.container-fluid {
    width: 100%;
    height: 65vh;
}

.banner {
    width: 100%;
    height: 65vh;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fimagenes%2Fcoversinlogo.png?alt=media&token=be65fbed-764f-4f19-8ab0-827f2a30c1e2');
    background-position: center center;
    background-size: cover;

}