<div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fimagenes%2Flinkedincover.jpg?alt=media&token=8416ced4-b8d8-45cd-858e-7f387c74a694"
                class="d-block w-100" alt="banner">
        </div>
        <div class="carousel-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Flogos%2FLOGOentrega%20corregido.png?alt=media&token=06346e5e-15f8-4f18-ae7d-7aec536fc545"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>