@import url('../../../styles.css');


#carouselExampleRide {
    margin-top: 61px;
    padding-top: 60px;
}

.carousel-item {
    height: 730px;

}

.carousel-item img {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 100%;

}