<section class="container">
    <h1 class="text-center mb-5">Tarifas de Tv</h1>
    <div class="cards">
        <div class="product-card" *ngFor="let tarifa of tarifasTv">
            <div class="product-card__info">
                <h2 class="text">{{ tarifa.type }}</h2>

                <div class="product-card__type">
                    <p class="text-p-01-regular mb-4">{{ tarifa.name }}</p>
                    <div class="product-info mb-3">
                        <!-- Ocultar cuando el tipo sea "TV" o "Móvil" -->
                        <img class="icon" src="../../../../assets/images/imagenes webp/iconos/icons8-televisión-48.webp"
                            alt="Fibra" loading="lazy">

                    </div>
                    <span class="text-subheading-01 mb-4">
                        {{ tarifa.channels }} Canales
                    </span>

                </div>
                <div class="product-card__action">
                    <div class="tarifa-price">
                        <p>{{ tarifa.price }}</p>
                        <div class="tarifa-price__regularity">
                            <span class="mes">€/mes</span>
                            <span class="iva">IVA incl.</span>
                            <small class="tariff-message">Precio final</small>
                        </div>
                    </div>

                    <ul class="checklist">
                        <li *ngIf="tarifa.extras?.includes('Canales TDT')"><i class="fas fa-check-circle"></i> Canales
                            TDT</li>
                        <li *ngIf="tarifa.extras?.includes('Canales TV Autonomicas')"><i
                                class="fas fa-check-circle"></i> Canales TV Autonómicas</li>
                        <li *ngIf="tarifa.extras?.includes('Canales Internacionales')"><i
                                class="fas fa-check-circle"></i>
                            Canales Internacionales</li>
                        <li *ngIf="tarifa.extras?.includes('cine')"><i class="fas fa-check-circle"></i> Cine</li>
                        <li *ngIf="tarifa.extras?.includes('series')"><i class="fas fa-check-circle"></i> Series</li>
                        <li *ngIf="tarifa.extras?.includes('documentales')"><i class="fas fa-check-circle"></i>
                            Documentales</li>
                        <li *ngIf="tarifa.extras?.includes('música')"><i class="fas fa-check-circle"></i> Música</li>
                        <li *ngIf="tarifa.extras?.includes('telenovelas')"><i class="fas fa-check-circle"></i>
                            Telenovelas</li>
                    </ul>
                    <div class="container">
                        <a class="interes" href="{{ whatsappLink }}">Me interesa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fqa">
    <div class="container">
        <h2 class="title">Preguntas Frecuentes</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div *ngFor="let question of questions; let i = index" class="accordion-item">
                <h2 class="accordion-header" [id]="'flush-heading' + i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false"
                        [attr.aria-controls]="'flush-collapse' + i">
                        {{ question.title }}
                    </button>
                </h2>
                <div [id]="'flush-collapse' + i" class="accordion-collapse collapse"
                    [attr.data-bs-parent]="'#accordionFlushExample'" [attr.aria-labelledby]="'flush-heading' + i">
                    <div class="accordion-body" [innerHTML]="question.content"></div>
                </div>
            </div>
        </div>
    </div>
</section>