<section class="container">
    <div class="sobre-epica">
        <h1>SOBRE ÉPICA</h1>

        <div class="content-section">
            <h2>Nuestro Compromiso</h2>
            <p>
                En Épica Network, estamos redefiniendo el estándar en el mundo de las telecomunicaciones en España. Nos
                destacamos por nuestra combinación única de innovación, velocidad y atención proactiva.
            </p>
            <p>
                Nuestra misión es ofrecer experiencias épicas, conectando dispositivos con la velocidad y confiabilidad
                que
                necesitas, manteniéndote conectado en todo momento y lugar.
            </p>
        </div>

        <div class="content-section">
            <h2>Experiencia y Servicio</h2>
            <p>
                Cada interacción con nosotros es una oportunidad para sumergirte en lo épico, desde disfrutar de la
                conexión
                más rápida hasta recibir el servicio más amigable y eficiente.
            </p>
            <p>
                En Épica Network, nos comprometemos a ofrecer transparencia y tranquilidad. No encontrarás ofertas
                molestas
                ni promociones innecesarias; solo un servicio confiable y sin complicaciones.
            </p>
            <p>
                Creemos que tu tiempo es valioso, por eso nos esforzamos por resolver tus problemas de manera rápida y
                eficiente.
            </p>
            <a href="#services" class="text-link">Ver Servicios</a>
        </div>

        <div class="content-section">
            <h2>Nuestro Equipo</h2>
            <p>
                Nuestro equipo está formado por personas comprometidas y capacitadas, trabajando incansablemente para
                garantizar el máximo valor de nuestros servicios.
            </p>
            <p>
                Nos comprometemos a ofrecerte una experiencia incomparable en cada interacción. Desde una red confiable
                hasta
                un servicio al cliente excepcional, estamos aquí para superar tus expectativas.
            </p>
        </div>

        <div class="content-section">
            <h2>Únete a Nosotros</h2>
            <p>
                Únete a nosotros y descubre una nueva era de conectividad sin preocupaciones. En Épica Network, estamos
                preparados para llevarte en un viaje épico hacia el futuro de las telecomunicaciones en España.
            </p>
            <p>
                ¡Bienvenido a Épica Network!
            </p>
            <a href="{{whatsappLink}}" class="text-link">Contáctanos</a>
        </div>
    </div>

</section>