<section class="banner-superior">
    <div class="container-fluid">
        <div class="banner_inicio">
            <img src="../../../assets/images/imagenes webp/fotos/coversinlogo.webp" alt="Banner Image">
        </div>
    </div>
</section>

<section class="selectTarifa">
    <div class="titulo text-center">
        <h1>Selecciona tu plan</h1>
        <h4 class="mb-4">{{ tituloSubtitulo }}</h4>
    </div>
    <article class="container">
        <ul class="filtros-menu">
            <li (click)="filtrarTarifas('Fibra y Móvil')" [class.selected]="filtroActual === 'Fibra y Móvil'">Fibra y
                Móvil</li>
            <li (click)="filtrarTarifas('Móvil')" [class.selected]="filtroActual === 'Móvil'">Móvil</li>
            <li (click)="filtrarTarifas('Fibra')" [class.selected]="filtroActual === 'Fibra'">Fibra</li>
        </ul>
        <app-tarifas [tipo]="filtroActual"></app-tarifas>
    </article>
</section>

<section class="container ba">
    <div class="baner">
        <figure class="icon-container">
            <img src="../../../assets/images/imagenes webp/iconos/icons8-internet-60_1.webp" alt="Darse de Alta">
        </figure>
        <div class="content">
            <p class="red">Red Épica</p>
            <p class="frase">Todas nuestras tarifas cuentan con la calidad de los expertos en fibra, con la cobertura
                móvil e internet de Épica en el 99% del territorio nacional</p>
        </div>
    </div>
</section>

<section class="image-section">
    <div class="banner">
        <figure>
            <img src="../../../assets/images/imagenes webp/img/IMG_3359.webp" alt="planes">
        </figure>
    </div>
    <div class="banner">
        <figure>
            <a href="{{ whatsappLink }}"><img src="../../../assets/images/imagenes webp/img/IMG_3362.webp"
                    alt="Imagen"></a>
        </figure>
    </div>
    <div class="banner">
        <figure>
            <img src="../../../assets/images/imagenes webp/img/IMG_3361.webp" alt="planes">
        </figure>
    </div>
</section>

<section class="bg-highlighted">
    <div class="accelerator">
        <div class="accelerator-grid">
            <a routerLink="/movil" class="accelerator-item" title="Tarifas móvil a precios increíbles, epica-network">
                <div class="accelerator-item__icons">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-smartphone-64.webp">
                </div>
                <h4 class="text-p-03-regular">Móvil</h4>
            </a>

            <a routerLink="/fibra-y-movil" class="accelerator-item" title="Ofertas Fibra y Móvil: epica-network">
                <div class="accelerator-item__icons">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-wifi-48.webp" alt="Fibra"
                        loading="lazy">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-smartphone-64.webp">
                </div>
                <h4 class="text-p-03-regular">Fibra + Móvil</h4>
            </a>

            <a routerLink="/fibra" class="accelerator-item"
                title="Sólo Fibra Óptica: Ofertas de internet en casa | epica-network">
                <div class="accelerator-item__icons">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-wifi-48.webp" alt="Fibra"
                        loading="lazy">
                </div>
                <h4 class="text-p-03-regular">Fibra</h4>
            </a>
        </div>
    </div>
</section>

<section class="container cober">
    <div class="cobertura">
        <figure class="coverage-icon">
            <img src="../../../assets/images/imagenes webp/iconos/icons8-dirección-100.webp" alt="Map" width="60"
                height="60">
        </figure>
        <p class="coverage-text">Descubre si la fibra de Épica llega a tu domicilio</p>
        <a class="interesa" href="{{ whatsappLink }}">Comprobar Cobertura</a>
    </div>
</section>

<section class="p-section">
    <div class="container">
        <div class="title-module text-center m-block-g">
            <h2 class="title">¡SÉ PARTE DE EPICA NETWORK!</h2>
            <h2 class="text-heading-02">¿Qué significa?</h2>
            <p class="subtitulo mt-3">Ser parte de Épica Network hará la fusión perfecta de innovación, velocidad y
                atención proactiva. Cada interacción con nosotros es una inmersión en lo épico, desde la conexión más
                rápida hasta el servicio más amigable. ¡Es tu red, tú decides!</p>
        </div>
        <div class="discovery-card__grid mt-5">
            <div class="discovery-card no-restrictions">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-4">Sin restricciones</h3>
                    <p class="text-p-02-regular">En Épica Network, no te imponemos contratos largos ni cláusulas
                        complicadas. Lo más importante para nosotros eres tú y tu servicio. Disfruta de nuestros planes
                        móviles sin compromiso de permanencia. Para los Cofres, solo 3 meses, mientras que para la
                        Fibra, 12 meses.</p>
                </div>
                <div class="discovery-card__img">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-meditación-gurú-64.webp"
                        alt="Sin restricciones" loading="lazy">
                </div>
            </div>

            <div class="discovery-card transparency">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-4">Transparencia</h3>
                    <p class="text-p-02-regular">Con Épica Network, el precio que ves es el que pagarás, sin cargos
                        ocultos ni sorpresas. Obtén la mejor calidad al precio más justo, pagando solo por lo que
                        realmente usas.</p>
                </div>
                <div class="discovery-card__img">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-euro-etiqueta-de-precio-80.webp"
                        alt="Transparencia" loading="lazy">
                </div>
            </div>

            <div class="discovery-card customer-support">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-4">Soporte al cliente 24/7</h3>
                    <p class="text-p-02-regular">En Épica Network, creemos en un servicio de atención al cliente
                        excepcional. Nuestro equipo está disponible 24/7 para resolver tus dudas y ayudarte con
                        cualquier problema que puedas tener. La asistencia que necesitas, siempre a tu alcance.</p>
                </div>
                <div class="discovery-card__img">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-24-7-signo-abierto-96.webp"
                        alt="Soporte al cliente" loading="lazy">
                </div>
            </div>

            <div class="discovery-card people">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-4">Personas</h3>
                    <p class="text-p-02-regular">En Épica Network, valoramos la autenticidad y la cercanía en nuestras
                        interacciones contigo. Por eso, cuando nos contactas, siempre serás atendido por personas
                        reales, no por respuestas automatizadas. Nuestro equipo está ubicado en España y estamos aquí
                        para ayudarte de forma gratuita. Queremos que te sientas escuchado y apoyado en cada consulta o
                        problema que tengas.</p>
                </div>
                <div class="discovery-card__img">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-asistente-64.webp" alt="Personas"
                        loading="lazy">
                </div>
            </div>

            <div class="discovery-card is-large mobile-connection">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-4">Conexión Móvil</h3>
                    <p class="text-p-02-regular">En Épica Network te ofrecemos la mejor calidad red de Internet Móvil de
                        España con cobertura nítida y velocidad de descarga de hasta 300Mbps para conectarte a Internet
                        y hablar estés donde estés con los servicios más competitivos del mercado.</p>
                </div>
                <figure class="discovery-card__img">
                    <img src="../../../assets/images/imagenes webp/iconos/icons8-cohete-64.webp" alt="Conexión 4G+"
                        loading="lazy">
                </figure>
            </div>
        </div>
    </div>
</section>