<section class="banner-superior">
    <div class="container-fluid">
        <div class="banner_inicio">
            <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fimagenes%2Fcoversinlogo.png?alt=media&token=be65fbed-764f-4f19-8ab0-827f2a30c1e2"
                alt="Banner Image">
        </div>
    </div>
</section>
<section class="selectTarifa">
    <div class="titulo text-center">
        <h1>Selecciona tu plan</h1>
        <h4>Todos nuestros planes incluyen tecnología 4G+</h4>
    </div>
    <article class="container">
        <ul class="filtros-menu">
            <li (click)="filtrarTarifas('Fibra y Móvil')" [class.selected]="filtroActual === 'Fibra y Móvil'">Fibra y
                Móvil</li>
            <li (click)="filtrarTarifas('Móvil')" [class.selected]="filtroActual === 'Móvil'">Móvil</li>
            <li (click)="filtrarTarifas('Fibra')" [class.selected]="filtroActual === 'Fibra'">Fibra</li>
        </ul>


        <app-tarifas [tipo]="filtroActual"></app-tarifas>



    </article>
</section>


<section class="container ba">
    <div class="baner">

        <figure class="area1">
            <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-internet-60.png?alt=media&token=a849005d-e321-49d6-9cdc-3ac507276301"
                alt="Darse de Alta">
        </figure>
        <div class="content">
            <p class="area2">Red Épica</p>
            <p class="area3">Todas nuestras tarifas cuentan con la calidad de los expertos en fibra, con la
                cobertura móvil e internet de Épica en el 99% del territorio nacional</p>
        </div>



    </div>
</section>


<section class="image-section">

    <div class="banner">
        <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fimagenes%2FIMG_3359.PNG?alt=media&token=5233afa6-e175-4743-b3db-773fc28e269d"
                alt="planes">
        </figure>
    </div>
    <div class="banner">
        <figure>
            <a href="{{ whatsappLink }}"><img
                    src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fimagenes%2FIMG_3362.PNG?alt=media&token=865f4995-00cb-47eb-a980-6332bca6f60c"
                    alt="Imagen">
            </a>

        </figure>
    </div>
    <div class="banner">
        <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fimagenes%2FIMG_3361.PNG?alt=media&token=874ebb2b-1c56-4ea4-9447-ae9b17d4f36c"
                alt="planes">
        </figure>
    </div>


</section>

<section class="bg-highlighted">
    <div class="accelerator">
        <div class="accelerator-grid">
            <a routerLink="/movil" class="accelerator-item" title="Tarifas móvil a precios increíbles, epica-network">
                <div class="accelerator-item__icons">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA1UlEQVR4nO3aQQrCMBSE4Vn1BnoX9XJutHo7vUPrNUYKKRQ3zmgTBOeDQBel6SP/MsAf6wBcATwAcOU1AujLHtVdKgzwus4tBhnLZjvh3ePi56bnd/aLk6lu/jHFFsAdwA3ApsL3v1J7I2YQU05ExKRlSloiJi1T0hIxaZmSlohJy5S0RExapqQlYtIyJS0Rk5YpaYmYtExJS8SkZUpaIiYtU9ISMWmZkpaIScuUtERMWh9e4ZiuW6ztUL49oIG+waWaU4tBujLMfDJrrqEM0eSa0096Av/rFDNorFGxAAAAAElFTkSuQmCC">
                </div>
                <h4 class="text-p-02-regular">Móvil</h4>
            </a>

            <a routerLink="/fibra-y-movil" class="accelerator-item" title="Ofertas Fibra y Móvil: epica-network">
                <div class="accelerator-item__icons">
                    <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-wifi-48.png?alt=media&token=f95b73d2-e947-43fb-876b-4b2c036a77d5"
                        alt="Fibra" loading="lazy">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA1UlEQVR4nO3aQQrCMBSE4Vn1BnoX9XJutHo7vUPrNUYKKRQ3zmgTBOeDQBel6SP/MsAf6wBcATwAcOU1AujLHtVdKgzwus4tBhnLZjvh3ePi56bnd/aLk6lu/jHFFsAdwA3ApsL3v1J7I2YQU05ExKRlSloiJi1T0hIxaZmSlohJy5S0RExapqQlYtIyJS0Rk5YpaYmYtExJS8SkZUpaIiYtU9ISMWmZkpaIScuUtERMWh9e4ZiuW6ztUL49oIG+waWaU4tBujLMfDJrrqEM0eSa0096Av/rFDNorFGxAAAAAElFTkSuQmCC">
                </div>
                <h4 class="text-p-02-regular">Fibra + Móvil</h4>
            </a>

            <a routerLink="/fibra" class="accelerator-item"
                title="Sólo Fibra Óptica: Ofertas de internet en casa | epica-network">
                <div class="accelerator-item__icons">
                    <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-wifi-48.png?alt=media&token=f95b73d2-e947-43fb-876b-4b2c036a77d5"
                        alt="Fibra" loading="lazy">
                </div>
                <h4 class="text-p-02-regular">Fibra</h4>
            </a>
        </div>
    </div>
</section>

<section class="container cober">

    <div class="cobertura">
        <figure class="area4">
            <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-direccio%CC%81n-100.png?alt=media&token=52658451-90fe-4e97-b9de-34b584384e64"
                alt="Map" width="60" height="60">
        </figure>
        <p class="area5">Descubre si la fibra de Épica llega a tu domicilio</p>
        <a class="interesa" href="{{ whatsappLink }}">Comprobar Cobertura</a>
    </div>

</section>


<section class="p-section">
    <div class="container">
        <div class="title-module text-center m-block-g">
            <h2 class="text-eyebrow">Únete a Épica Network</h2>
            <h2 class="text-heading-02">¿Qué significa ser parte de Épica Network?</h2>
            <p class="subtitulo mt-3">
                Ser de Épica Network te permite elegir y personalizar tus planes, con ventajas y sin complicaciones. ¡Es
                tu red, tú
                decides!
            </p>
        </div>
        <div class="discovery-card__grid mt-5">
            <div class="discovery-card area1">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-5">Sin restricciones</h3>
                    <p class="text-p-02-regular">En Épica Network, no te imponemos contratos largos ni cláusulas
                        complicadas. Disfruta de nuestros planes móviles sin compromiso de permanencia, y para la fibra,
                        solo hay una permanencia mínima de 3 meses. ¡Sin ataduras!
                    </p>
                </div>
                <div class="discovery-card__img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-meditacio%CC%81n-guru%CC%81-64.png?alt=media&token=9fcfcce3-2d03-472b-854e-03af8b101815"
                        alt="Sin restricciones" loading="lazy">
                </div>
            </div>

            <div class="discovery-card area2">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-5">Precios transparentes</h3>
                    <p class="text-p-02-regular">Con Épica Network, el precio que ves es el que pagarás, sin cargos
                        ocultos ni sorpresas. Obtén la mejor calidad al precio más justo, pagando solo por lo que
                        realmente usas.
                    </p>
                </div>
                <div class="discovery-card__img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-euro-etiqueta-de-precio-80.png?alt=media&token=25226920-a6a2-48e1-8dfc-1ef6d70fae2e"
                        alt="Precios transparentes" loading="lazy">
                </div>
            </div>

            <div class="discovery-card">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-5">Soporte al cliente 24/7</h3>
                    <p class="text-p-02-regular">En Épica Network, creemos en un servicio de atención al cliente
                        excepcional. Nuestro equipo está disponible 24/7 para resolver tus dudas y ayudarte con
                        cualquier problema que puedas tener. La asistencia que necesitas, siempre a tu alcance.
                    </p>
                </div>
                <div class="discovery-card__img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-24-7-signo-abierto-96.png?alt=media&token=ad727103-98d9-4579-b74f-e29d52e30979"
                        alt="Soporte al cliente" loading="lazy">
                </div>
            </div>

            <div class="discovery-card">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-5">Roaming global</h3>
                    <p class="text-p-02-regular">Con Épica Network, puedes disfrutar de roaming internacional de
                        calidad. Siempre que estés en un país de la Zona 1, usa tus datos como si estuvieras en casa.
                        Mantente conectado en cualquier parte del mundo.
                    </p>
                </div>
                <div class="discovery-card__img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-traveler-64.png?alt=media&token=40c3667d-1c20-45b5-af11-eae18cef1a30"
                        alt="Roaming global" loading="lazy">
                </div>
            </div>

            <div class="discovery-card is-large area5">
                <div class="discovery-card__info">
                    <h3 class="text-heading-01 mb-5">Conexión 4G+</h3>
                    <p class="text-p-02-regular">Disfruta de una conexión rápida y confiable con Épica Network. La
                        tecnología 4G+ te permite descargar y compartir contenido rápidamente, sin interrupciones.
                    </p>
                </div>
                <figure class="discovery-card__img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-cohete-64.png?alt=media&token=aa96c7e8-9e4a-48aa-a014-2d5d7493224f"
                        alt="Conexión 4G+" loading="lazy">
                </figure>
            </div>
        </div>
    </div>
</section>