.header {
    padding: 20px;
}

.titulo {
    color: var(--text);
    font-family: var(--fuente-titulo);
    margin-bottom: 20px;
    text-align: center;
}

.titulo h2 {
    color: var(--text);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;

}

.titulo h4 {
    color: var(--text);
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 5px;
}

.filtros-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    margin-bottom: 20px;
}

.filtros-menu li {
    position: relative;
    cursor: pointer;
    color: var(--text);
    font-size: 1.1rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.filtros-menu li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--text);
    transition: width 0.3s ease, left 0.3s ease;
    border-radius: 5px;
}

.filtros-menu li:hover::before,
.filtros-menu li.selected::before {
    width: 100%;
    left: 0;
}

.filtros-menu li.selected {
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 768px) {
    .product-card {
        flex: 1 1 100%;

        max-width: 100%;

    }
}

/* RED Epica */

.baner {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--background);
    margin-top: 50px;
    border-radius: 25px;

}

.area1 {
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.area2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* Hacer "Red Épica" en negrita */
}

.area3 {
    font-family: 'Montserrat', sans-serif;
}

.area4 {
    margin-right: 10px;
}

.area5 {
    font-family: 'Montserrat', sans-serif;
}

.content {
    flex: 1;
    /* Permitir que el texto se ajuste al espacio disponible */
}

.cober {
    width: 70%;
}

.cobertura {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    background-color: var(--background);
    border-radius: 25px;

}

.area4 {
    margin: 0;

}

.area5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a.interesa {
    background-color: var(--accent);
    color: white;
    padding: 0.625rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;
    width: 20%;
}

/* Ajustes para el hover del botón */
a.interesa:hover {
    background-color: var(--highlight);
    box-shadow: var(--button-hover-box-shadow);

}

/* INICIO MENU ICON */

.bg-highlighted {
    background-color: #f5f5f5;
    padding: 20px 0;
    margin-top: 50px;
}

.accelerator {
    display: flex;
    justify-content: center;

}

.accelerator-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.accelerator-item {
    text-decoration: none;
    color: black;
    text-align: center;
}

.accelerator-item__icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.accelerator-item__icons img {
    width: 48px;
    height: 48px;

}

.text-p-02-regular {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
}

/* FIN MENU ICON */



/* INICIO BANNERS */
.image-section {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 3vw;
    padding: 20px 0;

}

.banner {
    max-width: 500px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    border-radius: 25px;

}

figure {
    margin: 0;
}

img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/* FIN BANNERS */

/* INICIO DE LA SECCIÓN */

.p-section {
    padding: 20px;
    margin-top: 50px;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title-module {
    text-align: center;
    margin-bottom: 40px;
}

.discovery-card__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}

/* Estilos para las tarjetas */
.discovery-card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-basis: 48%;
    display: flex;
    flex-direction: column;

}

.discovery-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.discovery-card__img {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.discovery-card__img img {
    width: 70px;
    height: 70px;
    object-fit: contain;

}


.discovery-card__info {
    text-align: left;
    flex: 1;
}


@media (max-width: 768px) {
    .discovery-card__grid {
        flex-direction: column;
        gap: 10px;
    }

    .discovery-card {
        flex-basis: 100%;

    }

    .discovery-card__img {
        justify-content: flex-end;

    }

    .discovery-card__img img {
        width: 50px;
        height: 50px;
    }

    .cobertura {
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;

    }

    a.interesa {
        width: 100%;

    }
}

.bg-highlighted {
    background-color: #f5f5f5;
    padding: 20px 0;
    margin-top: 50px;
}

.accelerator {
    display: flex;
    justify-content: center;

}

.accelerator-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.accelerator-item {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s ease;

}

.accelerator-item:hover {
    transform: scale(1.05);
    /* Efecto de hover para mejorar la interacción */
}

.accelerator-item__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.accelerator-item__icons img {
    width: 48px;
    height: 48px;
}

.text-p-02-regular {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;

}

/* FIN MENU ICON */

/* INICIO BANNERS */
.image-section {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 3vw;
    padding: 20px 0;
}

.banner {
    max-width: 500px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.banner:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

figure {
    margin: 0;
}

img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    transition: all 0.3s;
}

.banner:hover img {
    transform: scale(1.1);
    opacity: 0.9;
}

/* FIN BANNERS */

/* INICIO DE LA SECCIÓN */
.p-section {
    padding: 20px;
    margin-top: 50px;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title-module {
    text-align: center;
    margin-bottom: 40px;
}

.title-module h2 {
    font-family: var(--fuente-titulo);
}

.title-module p {
    font-family: var(--fuente-cuerpo);
}


.discovery-card__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Ajustes para tarjetas */
.discovery-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--background);
    flex-basis: 48%;
}

.discovery-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.discovery-card h3 {
    font-family: var(--fuente-titulo);
}

.discovery-card p {
    font-family: var(--fuente-cuerpo);
}

/* Posicionamiento para las imágenes en la esquina superior derecha */
.discovery-card__img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

.discovery-card__img img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

/* Ajustes para la información dentro de las tarjetas */
.discovery-card__info {
    text-align: left;
    flex: 1;

}

.discovery-card:last-child {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;

}


/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .discovery-card__grid {
        flex-direction: column;
        gap: 10px;
    }

    .discovery-card {
        flex-basis: 100%;

    }

    .discovery-card__img {
        justify-content: flex-end;

        align-items: flex-start;

    }

    .discovery-card__img img {
        width: 50px;

        height: 50px;
    }

    .accelerator-grid {
        gap: 50px;
    }
}