@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital@0;1&family=Press+Start+2P&display=swap');
@import url('../../../../styles.css');

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;

}

.movil-image {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0.625rem;

}

.image {
    width: 15.625rem;
    height: auto;
}

.data {
    font-size: 2rem;
    color: var(--background);
    font-family: var(--fuente-titulo);
    font-size: 2rem;
    font-weight: 800;
}


.tarifa_precio p {
    font-size: 2rem;
    color: var(--text);
    font-weight: bold;
    margin: 0;
}

.tarifa_precio strong {
    font-size: 1.5rem;
}

.tarifa_precio small {
    font-size: 0.8rem;
    display: inline-block;
    margin: 0;
    /* Sin margen adicional */
}

p span {
    font-size: 1rem;
    font-weight: normal;
    display: inline-block;
    gap: 0.3125rem;
    color: var(--text);
}

#name {
    background-color: #fb8fe0;
    border-radius: 0.9375rem;
    width: 13.75rem;

}

#name p {
    color: #881c9e;
    font-size: 1.2rem;
    margin: 0 auto;
}

strong {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;

}

ul li {
    color: var(--text);
    text-align: start;
    margin: 15px;
}


.fas.fa-check-circle {
    font-size: 1rem;
    color: var(--primary);
    margin: 5px;
}


.button-container {
    width: 90%;
    text-align: center;
}

.bloque_cards {
    margin-top: 3.125rem;
    display: block;
}

.last-card {
    display: none;
}

.bloque_cards h2 {
    font-family: var(--fuente-titulo);
    font-size: var(--font-size);
    margin-bottom: 1.25rem;
    color: var(--text);
}

.bloque_cards h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text);
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    color: white;
}

.card {
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    max-width: 23.75rem;
    margin: 0 auto 1.25rem;
    margin-top: 30px;
}

.card:hover {
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1),
        0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.card-img-top {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;

}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    color: var(--text);
}

.card-body {
    padding: 1.25rem;

}

.mobil {
    display: none;
}

@media (min-width: 18.75rem) and (max-width: 75rem) {
    h1 {
        margin-top: 14rem;
    }

    .pricing-card {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .bloque_cards {
        display: none;
    }

    .mobil {
        display: block;
    }
}