<section class="container">
    <h1 class="text-center mb-5">Tarifas de Móvil</h1>
    <div class="cards"> <!-- Contenedor para las tarjetas -->
        <div class="product-card" *ngFor="let tarifa of tarifasMovil">
            <div class="product-card__info">
                <h2 class="text">{{ tarifa.type }}</h2>
                <div class="product-card__type">
                    <div class="product-info mb-3">
                        <img class="icon"
                            src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fredes%20sociales%2Ficons8-fourth-generation-cellular-plus-and-internet-connectivity-logotype-96.png?alt=media&token=051d8eb3-74c1-414a-89b1-603c7ef335a8"
                            alt="Móvil" loading="lazy">
                        <span class="text-p-02-medium">Móvil</span>
                        <span class="text-subheading-01">{{ tarifa.gb }}</span>
                    </div>
                    <span class="text-subheading-01">Llamadas {{ tarifa.minutes }}</span>
                    <p class="text-p-01-regular mb-4">{{ tarifa.name }}</p>
                </div>
                <div class="product-card__action">
                    <div class="tarifa-price mb-4">
                        <p>{{ tarifa.price }}</p>
                        <div class="tarifa-price__regularity">
                            <span class="mes">€/mes</span>
                            <span class="iva">IVA incl.</span>
                            <small class="tariff-message">Precio final</small>
                        </div>
                    </div>

                    <ul class="checklist">
                        <li><i class="fas fa-check-circle"></i> Sin coste de línea fija, nada de cuotas extras.</li>
                        <li><i class="fas fa-check-circle"></i> Con o sin permanencia. Tú eliges.</li>
                        <li><i class="fas fa-check-circle"></i> Velocidad simétrica según disponibilidad geográfica.
                        </li>
                    </ul>
                    <div class="container">
                        <a class="interes" href="{{ whatsappLink }}">Me interesa</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
<section class="container swipper info">
    <article class="bloque_cards text-center">
        <div class="container">
            <h2 class="mb-3 text-center">Un servicio móvil sencillo</h2>
            <h5 class="subtitle text-center">Y si quieres hablar con nosotros estaremos ahí para ayudarte</h5>
            <div class="d-sm-block">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let card of mobileCards; let i = index">
                        <div class="card h-100" [ngClass]="{'last-card': isLastCard(i)}">
                            <img class="card-img-top" [src]="card.imageUrl" [alt]="card.title">
                            <div class="card-body">
                                <h5 class="card-title">{{ card.title }}</h5>
                                <p class="card-text">{{ card.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <swiper-container class="mobil" navigation="true" pagination="true" pagination-clickable="true">
        <swiper-slide *ngFor="let card of mobileCards">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" [src]="card.imageUrl" [alt]="card.title">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.description }}</p>
                    </div>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</section>