<section class="container tarifas">
    <h1 class="mb-3 text-center">Tarifas de Móvil de Épica</h1>
    <div class="tarjetas">
        <div *ngFor="let plan of tarifasMovil">
        </div>
        <div class="pricing-card col-12 col-md-6 col-xl-3 mb-4 text-center" *ngFor="let movil of tarifasMovil">
            <div class="movil-image">
                <img class="image"
                    src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Fplanes%2FArtboard%2026.png?alt=media&token=d1012426-607f-45db-86a7-d29c77633b18"
                    alt="movil">
            </div>
            <h3 class="data">{{ movil.gb }}</h3>
            <div id="name" class="container">
                <p><strong> {{movil.name}}</strong></p>
            </div>
            <ul class="lista_checks">
                <li>
                    <i class="fas fa-check-circle"></i>
                    <strong>Sin permanencia.</strong>
                </li>
                <li>
                    <i class="fas fa-check-circle"></i>
                    <strong>Llamadas ilimitadas.</strong>
                </li>
                <li>
                    <i class="fas fa-check-circle"></i>
                    <strong>Cobertura en todo el territorio nacional.</strong>
                </li>
            </ul>
            <div class="tarifa_precio">
                <p>{{ movil.price }}<strong>€ </strong><small>IVA incl.</small></p>
            </div>
            <div class="button-container">
                <a class="interes" [href]="whatsappLink">Me interesa</a>
            </div>

        </div>
    </div>
</section>
<section class="container cards info">
    <article class="bloque_cards text-center">
        <div class="container">
            <h2 class="mb-3 text-center">Un servicio móvil sencillo</h2>
            <h5 class="subtitle text-center">Y si quieres hablar con nosotros estaremos ahí para ayudarte</h5>
            <div class="d-sm-block">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let card of mobileCards; let i = index">
                        <div class="card h-100" [ngClass]="{'last-card': isLastCard(i)}">
                            <img class="card-img-top" [src]="card.imageUrl" [alt]="card.title">
                            <div class="card-body">
                                <h5 class="card-title">{{ card.title }}</h5>
                                <p class="card-text">{{ card.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <swiper-container class="mobil" navigation="true" pagination="true" pagination-clickable="true">
        <swiper-slide *ngFor="let card of mobileCards">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" [src]="card.imageUrl" [alt]="card.title">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.description }}</p>
                    </div>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</section>