  *,
  p {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      line-height: 24px;
      vertical-align: baseline;
      background: transparent;
      text-decoration: none;
      outline: none;
  }

  html,
  body {
      overflow-x: hidden;
      background-image: url('../src/assets/images/shinyOverlay.svg');
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  img {
      border: none;
  }

  .container {
      max-width: 1350px !important;
  }

  button,
  button:hover,
  button:focus {
      outline: none;
  }

  a,
  a:hover,
  a:focus,
  a:visited {
      text-decoration: none;
      font-size: inherit;
  }

  body {
      font-family: "OnAir-Light", Arial, sans-serif !important;
      font-size: 18px !important;
      line-height: 26px;
  }

  b,
  strong {
      font-family: "OnAir-Bold" !important;
      font-weight: normal;
  }

  img {
      max-width: 100%;
  }


  html {
      scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
      html {
          scroll-behavior: auto;
      }
  }