/* Importación de fuentes y estilos externos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

/* Definición de variables globales */
:root {
    /* Colores */
    --color-principal: #97eb9d;
    --color-secundario: #4b3b68;
    --color-destacado: #b83ad2;
    --color-resaltado: #c357d2;
    --color-vibrante: #d264ff;
    --color-fondo: #2b2933;
    --color-texto: #d8d8d8;

    /* Fuentes y estilos de texto */
    --fuente-titulo: 'Anton', sans-serif;
    --fuente-cuerpo: 'Montserrat', sans-serif;
    --font-weight: 900;
    --font-size: 3rem;
    --font-size-large: 1.5em;

    /* Espaciado y dimensiones */
    --margin-top: 5.375rem;
    --radio-pequeno: 0.3125rem;
    --radio-grande: 0.9375rem;
    --radio-extra: 1.875rem;
    --padding-default: 20px;

    /* Sombras */
    --sombra-normal: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    --sombra-hover: var(--sombra-normal), 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
    /* Se unifica con --card-hover-box-shadow */

    /* Transiciones */
    --transicion-general: all 0.3s ease;
    --hover-transition: var(--transicion-general);


    /* Configuraciones para tarjetas (cards) */
    --card-display: flex;
    --card-flex-direction: column;
    --card-justify-content: space-between;
    --card-align-items: center;
    --card-background-color: white;
    --card-border-radius: 1.875rem;
    --card-box-shadow: var(--sombra-normal);
    --card-padding: 0.625rem;
    --card-margin: 1.25rem;
    --card-text-align: center;
    --card-width: 20.625rem;
    --card-transition: var(--transicion-general);
    --card-hover-box-shadow: var(--sombra-hover);

    /* boton info */
    --info-text-color: white;
    --info-padding: 0.625rem 0.9375rem;
    --info-text-align: center;
    --info-font-size: 0.875rem;
    --info-border-radius: 0.625rem;
    --info-transition: background-color 0.3s ease;
    --info-margin: 0.625rem;

    --info-hover-background-color: hsl(290, 13%, 63%);

    /* boton interes */
    --interes-background-color: rgb(240, 62, 200);
    --interes-text-color: white;
    --interes-padding: 0.625rem 0.9375rem;
    --interes-text-align: center;
    --interes-font-size: 0.875rem;
    --interes-border-radius: 0.625rem;
    --interes-transition: background-color 0.3s ease;
    --interes-margin: 0.625rem;


    --button-hover-box-shadow:
        0 0.25rem 0.375rem rgba(0, 0, 0, 0.1),
        0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);



    /*     --neon-font-size: 1.5rem;
    --neon-font-weight: var(--font-weight);
    --neon-animation-duration: 1.5s;
    --neon-animation-iteration: infinite alternate;


    --neon-shadow-base:
        0 0 0.3125rem rgba(139, 0, 139, 0.3),
        0 0 0.625rem rgba(139, 0, 139, 0.3),
        0 0 0.9375rem rgba(139, 0, 139, 0.3),
        0 0 1.25rem rgba(139, 0, 139, 0.3),
        0 0 2.1875rem rgba(139, 0, 139, 0.3),
        0 0 2.5rem rgba(139, 0, 139, 0.3),
        0 0 3.125rem rgba(139, 0, 139, 0.3),
        0 0 4.6875rem rgba(139, 0, 139, 0.3);

    --neon-shadow-to:
        0 0 0.625rem rgba(139, 0, 139, 0.3),
        0 0 1.25rem rgba(139, 0, 139, 0.3),
        0 0 1.875rem rgba(139, 0, 139, 0.3),
        0 0 2.5rem rgba(139, 0, 139, 0.3),
        0 0 3.125rem rgba(139, 0, 139, 0.3),
        0 0 3.75rem rgba(139, 0, 139, 0.3),
        0 0 4.375rem rgba(139, 0, 139, 0.3),
        0 0 5rem rgba(139, 0, 139, 0.3); */
}


/* Reset CSS para consistencia en diferentes navegadores */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

/* /* Ajustes para elementos HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Estilos para el cuerpo de la página */
html {
    font-size: 16px;

}

body {
    line-height: 1;
    overflow-x: hidden;
    width: 100%;

}

/* Estilos para contenedores */
.container {
    max-width: 1350px !important;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Estilos para encabezados */
h1 {
    font-family: var(--fuente-titulo);
    margin-top: var(--margin-top);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    color: var(--color-fondo);
}

/* Estilos para tarjetas (cards) */
.pricing-card {
    display: var(--card-display);
    flex-direction: var(--card-flex-direction);
    justify-content: var(--card-justify-content);
    align-items: var(--card-align-items);
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    padding: var(--card-padding);
    margin: var(--card-margin);
    text-align: var(--card-text-align);
    width: var(--card-width);
    transition: var(--card-transition);
}

/* Estilo de hover para tarjetas (cards) */
.pricing-card:hover {
    box-shadow: var(--card-hover-box-shadow);
}

/* Estilos para efectos neon */
.neon-effect {
    color: black;
    font-size: var(--neon-font-size);
    font-weight: var(--neon-font-weight);
    text-shadow: var(--neon-shadow-base);
    animation: neon-animation var(--neon-animation-duration) var(--neon-animation-iteration);
}

@keyframes neon-animation {
    from {
        text-shadow: var(--neon-shadow-base);
    }

    to {
        text-shadow: var(--neon-shadow-to);
    }
}

/* Estilos para enlaces con clase .info */
.info {
    background-color: var(--color-secundario);
    border: none;
    color: var(--info-text-color);
    padding: var(--info-padding);
    text-align: var(--info-text-align);
    text-decoration: none;
    display: inline-block;
    font-size: var(--info-font-size);
    cursor: pointer;
    border-radius: var(--info-border-radius);
    transition: var(--info-transition);
    margin: var(--info-margin);
}

/* Estilos para hover en enlaces con clase .info */
a.info:hover {
    background-color: var(--info-hover-background-color);
    box-shadow: var(--button-hover-box-shadow);
}

/* Estilos para enlaces con clase .interes */
a.interes {
    background-color: var(--interes-background-color);
    border: none;
    color: var(--interes-text-color);
    padding: var(--interes-padding);
    text-align: var(--interes-text-align);
    text-decoration: none;
    display: inline-block;
    font-size: var(--interes-font-size);
    cursor: pointer;
    border-radius: var(--interes-border-radius);
    transition: var(--interes-transition);
    margin: var(--interes-margin);
}

/* Estilo para el último elemento con clase .interes */
a.interes:last-child {
    margin-bottom: var(--interes-margin);
}

/* Estilos para hover en enlaces con clase .interes */
a.interes:hover {
    background-color: var(--color-destacado);
    box-shadow: var(--button-hover-box-shadow);
}

/* Estilos para listas */
ol,
ul {
    list-style: none;
}

/* Estilos para citas y tablas */
blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}