<header class="container-fluid">
    <div class="top-bar">
        <div class="container">
            <p class="atencion">Si no eres cliente, llámanos
                <i class="fa-solid fa-phone fa-beat-fade"></i>
                <a href="tel:611558367"><span>611 558 367</span></a>
            </p>
        </div>
    </div>
    <nav>
        <div class="container">
            <figure class="wrapper">
                <a href="/inicio">
                    <img src="../../../assets/images/imagenes webp/logos/LOGOentrega-15.webp" alt="Logo de Épica">
                </a>
            </figure>
            <div class="menu-wrapper">
                <button class="burger" aria-label="Toggle Menu" (click)="toggleMenu()"
                    [attr.aria-expanded]="isMenuOpen">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="menu-header" id="menu-header" [ngClass]="{'is-open': isMenuOpen}" role="navigation">
                    <ul class="first-menu" role="menu">
                        <li *ngFor="let section of firstMenu; trackBy: trackByItems" [routerLink]="[section.route]"
                            routerLinkActive="active" role="menuitem"
                            (click)="handleMenuItemClick(section.submenuType)">
                            {{ section.label }}
                        </li>
                    </ul>
                    <ul class="second-menu" role="menu">
                        <li *ngFor="let section of secondMenu; trackBy: trackByItems" [routerLink]="[section.route]"
                            routerLinkActive="active" role="menuitem" (click)="handleMenuItemClick()">
                            {{ section.label }}

                        </li>
                        <li role="menuitem" (click)="handleMenuItemClick()"><a
                                style="text-decoration: none; color: var(--background) ;opacity: 0.7;"
                                href="{{whatsappLink}}">Contacto</a></li>
                    </ul>
                    <a class="button" href="https://clientesepicanetwork.ispgestion.com/site/login"
                        [ngClass]="{'is-open': isMenuOpen}">
                        Soy Cliente
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <app-submenu *ngIf="activeSubmenu" [items]="getSubmenuItems(activeSubmenu)"></app-submenu>
</header>