<header class="container-fluid">
    <div class="top-bar">
        <div class="container">
            <p class="atencion">Si no eres cliente, llámanos
                <i class="fa-solid fa-phone fa-beat-fade"></i><span>611 558 367</span>
            </p>
        </div>

    </div>
    <nav>
        <div class="container">
            <figure class="wrapper">
                <a href="/inicio">
                    <img src="https://firebasestorage.googleapis.com/v0/b/epica-network.appspot.com/o/images%2Flogos%2FLOGOentrega-15.png?alt=media&token=c23ad302-a885-443d-9bdb-51a3e7c74e7a"
                        alt="Logo de Épica">
                </a>
            </figure>
            <div class="menu-wrapper">
                <button class="burger" aria-label="Toggle Menu" (click)="toggleMenu()"
                    [attr.aria-expanded]="isMenuOpen">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="menu-header" id="menu-header" [ngClass]="{'is-open': isMenuOpen}" role="navigation">
                    <ul class="first-menu" role="menu">
                        <li *ngFor="let section of firstMenu" [routerLink]="[section.route]" routerLinkActive="active"
                            role="menuitem" (click)="toggleSubmenu(section.submenuType)">
                            {{ section.label }}
                        </li>
                    </ul>
                    <ul class="second-menu" role="menu">
                        <li *ngFor="let section of secondMenu" [routerLink]="[section.route]" routerLinkActive="active"
                            role="menuitem" (click)="toggleMenu()">
                            {{ section.label }}
                        </li>
                    </ul>
                    <a class="button" href="https://clientesepicanetwork.ispgestion.com/site/login"
                        [ngClass]="{'is-open': isMenuOpen}">
                        Soy Cliente
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <app-submenu *ngIf="activeSubmenu" [items]="getSubmenuItems(activeSubmenu)"></app-submenu>
</header>