@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital@0;1&family=Press+Start+2P&display=swap');
@import url('../../../styles.css');

/* Container Fluid */
.container-fluid {
    background-color: var(--text);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

/* Top Bar */
.top-bar .container {
    display: flex;
    justify-content: flex-end;
}

header .top-bar {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
}

/* Icon */
.fa-phone {
    font-size: 28px;
    color: var(--primary);
    vertical-align: middle;
}

/* Atención */
.atencion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--fuente-cuerpo);
    font-weight: bold;
    gap: 7px;
    color: var(--text);
}

.atencion span {
    background-color: var(--highlight);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--background);
}

/* Container */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Wrapper */
.wrapper {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image */
figure img {
    max-width: 180px;
    height: auto;
    object-fit: contain;
}

/* Menu Wrapper */
.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

/* Burger */
.burger {
    display: none;
}

.burger .fa-bars {
    font-size: 40px;
    color: white;
}

/* Menu Header */
.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 1.1rem;
    color: var(--background);
    font-family: var(--fuente-cuerpo);
}

.menu-header ul {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.menu-header li {
    position: relative;
    cursor: pointer;
}

.menu-header li::before {
    content: '';
    position: absolute;
    bottom: -27.5px;
    left: 50%;
    width: 0;
    height: 3.3px;
    background-color: var(--background);
    transition: width 0.3s ease, left 0.3s ease;
    border-radius: 5px;
}

.menu-header li:hover::before,
.menu-header li.active::before {
    width: 100%;
    left: 0;
}

/* Second Menu */
.second-menu {
    opacity: 0.7;
}

/* Button */
.button {
    font-size: 1rem;
    line-height: 24px;
    color: var(--accent);
    border: 1.5px solid var(--accent);
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 10px;
    margin-top: 1px;
}

/* Unified Media Query */
@media (min-width: 300px) and (max-width: 1199px) {
    .burger {
        display: block;
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .menu-header {
        display: block;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        background-color: var(--background);
        box-shadow: var(--sombra-hover);
        width: 100%;
        display: none;
        transition: all 0.3s ease;
        color: var(--text);
    }

    .menu-header li::before {
        bottom: 10px;
        background-color: var(--text);
    }

    .menu-header.is-open {
        display: block;
        padding: 15px;
    }

    .menu-header ul {
        flex-direction: column;
        gap: 10px;
    }

    .menu-header li {

        border-bottom: 1px solid white;
        width: 100%;
    }

    .wrapper {
        height: 45px;
    }

    .button {
        display: none;
        text-align: center;
        color: var(--text);
        border: 1.5px solid var(--text);
    }

    .button.is-open {
        display: block;
        padding: 10px;
        margin-top: 20px;
    }

    .atencion span {
        font-size: 0.8rem;
        padding: 5px 15px;
    }

    .atencion {
        font-size: 0.852rem;
    }

    .fa-phone {
        font-size: 20px;
    }

    header .top-bar {
        padding: 0 7px;
    }

    .atencion {
        font-size: 0.68rem;
    }

    .atencion span {
        padding: 0px 7px;
    }

    .menu-header ul {
        gap: 5px;
    }

    .menu-header li {
        padding: 5px;
    }

    .menu-header li::before {
        bottom: 1px;
        background-color: var (--text);
    }

    .button.is-open {
        padding: 5px;
        margin-top: 10px;
    }
}