@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.atencion {
    position: fixed;
    text-align: right;
    top: 0;
    right: 279px;
    z-index: 1000;
    padding: 10px;

}

.atencion p {
    color: white;
    margin-bottom: 0;

}

.atencion span {
    background-color: #97eb9d;
    padding: 5px 10px;


}

.atencion span,
.atencion span:hover {
    color: black;

}

#header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;

}

.logo-header {
    height: 150px;

}

.burguer {
    display: none;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.menu-list li {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

.menu-list li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease-out, left 0.3s ease-out;

}

.menu-list li:hover::before {
    width: 100%;
    left: 0;

}

.menu-list li.active::before {
    width: 100%;
    left: 0;
}

.sub-menu {
    opacity: 0.5;
}

.sub-menu:not(:last-child) {
    margin-right: 20px;
}

.loginButton {
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 8px 10px;
    border: 1px solid white;
    border-radius: 4px;
}

@media (min-width: 300px) and (max-width: 1200px) {
    .atencion {
        white-space: nowrap;
        left: 0;
    }

    .burguer {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .menu-list {
        display: none;
        position: absolute;
        top: 162px;
        left: 0;
        background-color: #b83ad2;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 999;

    }

    .menu-list.is-open {
        display: block;

    }

    .menu-list li {
        margin: 10px 0;
        padding: 10px;
        border-bottom: 1px solid black;
        font-size: 1rem;

    }

    li .sub-menu {
        opacity: 0.5;
    }

    .burguer .material-icons {
        font-size: 45px;

    }
}

@media (min-width: 1201px) {

    .menu-list {
        display: flex !important;

    }

    .burguer {
        display: none;

    }
}