<header id="main-header">
    <div id="top-bar">
        <p class="atencion">Si no eres cliente, llámanos
            <i class="material-icons phone-icon">phone</i><span>999888777</span>
        </p>
    </div>
    <div class="nav-container">
        <a href="http://epicanetwork.es" class="logo" alt="epica">
            <img class="logo-header" src="../../../assets/images/logoBlanco.png" alt="epica">
        </a>
        <button class="burguer" (click)="toggleMenu()">
            <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
        </button>
        <nav class="menu-header text-white" [ngClass]="{'is-open': isMenuOpen}">
            <ul class="first-menu">
                <li *ngFor="let section of firstMenu" [routerLink]="[section.route]" [routerLinkActive]="['active']"
                    (click)="toggleMenu()">
                    {{ section.label }}
                </li>
            </ul>
            <ul class="second-menu">
                <li *ngFor="let section of secondMenu" [routerLink]="[section.route]" [routerLinkActive]="['active']"
                    (click)="toggleMenu()">
                    {{ section.label }}
                </li>
            </ul>
            <a class="buttom" href="https://clientesepicanetwork.ispgestion.com/site/login"
                [ngClass]="{'is-open': isMenuOpen}">
                Soy Cliente
            </a>
        </nav>
    </div>
</header>